<div class="table-responsive">
    <table class="table">
      <tr>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Tecnico informatico</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Atencion al cliente</h1>
        </blockquote>
      </figure>
      </td>
    </tr>
      <tr>
        <td>
          <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/TC.png"  alt="Slide 1">  
              </div>
            </div>
          </ng-template>
        </ngb-carousel></td>
        <td>
            <ngb-carousel #ngcarousel>
                <ng-template ngbSlide id="one">
                  <div class="contenedor">
                  <div class="picsum-img-wrapper">
                    <img src="../../../assets/imgs/ALC.png"  alt="Slide 1">  
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel></td>
        </tr>
    </table>
  </div>