<div class="table-responsive">
<table class="table">
  <tr>
    <td>
      <ngb-carousel #ngcarousel>
      <ng-template ngbSlide id="one">
        <div class="contenedor">
        <div class="picsum-img-wrapper">
          <img src="../../../assets/imgs/C.jpg"  alt="Slide 1">  
        </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="two">
        <div class="contenedor">
        <div class="picsum-img-wrapper">
          <img src="../../../assets/imgs/java.png"  alt="Slide 2">
        </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="three">
        <div class="contenedor">
        <div class="picsum-img-wrapper">
          <img src="https://i.ibb.co/Rzf385M/c.jpg" alt="Slide 3">
        </div>
      </div>
      </ng-template>
      <ng-template ngbSlide id="four">
        <div class="contenedor">
        <div class="picsum-img-wrapper">
          <img src="https://i.ibb.co/s6kBx6s/d.jpg" alt="Slide 4">
        </div>
        </div>
      </ng-template>
    </ngb-carousel></td>
    </tr>
</table>
</div>