<div class="table-responsive">
    <table class="table">
      <tr>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Protoportafolio</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Tabla de criptomonedas</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Protoportafolio N°2</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Pagina de ropa</h1>
        </blockquote>
      </figure>
      </td>
    </tr>
      <tr>
        <td>
          <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <a href="https://porfolio-752e6.web.app"><img src="../../../assets/imgs/Protoportafolio.png"  alt="Slide 1">  
              </a></div>
            </div>
          </ng-template>
        </ngb-carousel></td>
        <td>
            <ngb-carousel #ngcarousel>
                <ng-template ngbSlide id="one">
                  <div class="contenedor">
                  <div class="picsum-img-wrapper">
                    <a href="https://criptotabla.web.app"><img src="../../../assets/imgs/Criptotabla.png"  alt="Slide 1">  
                    </a></div>
                  </div>
                </ng-template>
              </ngb-carousel></td>
        <td>
            <ngb-carousel #ngcarousel>
                <ng-template ngbSlide id="one">
                  <div class="contenedor">
                  <div class="picsum-img-wrapper">
                    <a href="http://localhost:4200/inicio"><img src="../../../assets/imgs/Protoportafolio2.png"  alt="Slide 1">  
                    </a></div>
                  </div>
                </ng-template>
              </ngb-carousel></td>
              <td>
                <ngb-carousel #ngcarousel>
                    <ng-template ngbSlide id="one">
                      <div class="contenedor">
                      <div class="picsum-img-wrapper">
                        <a href="http://localhost:4200/inicio"><img src="../../../assets/imgs/Protoportafolio2.png"  alt="Slide 1">  
                        </a></div>
                      </div>
                    </ng-template>
                  </ngb-carousel></td>
        </tr>
        
    </table>
    </div>