<div class="table-responsive">
    <table class="table">
      <tr>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Metodologias</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Patrones de diseño</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Arquitecturas</h1>
        </blockquote>
      </figure>
      </td>
    </tr>
      <tr>
        <td>
          <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/scrum.png"  alt="Slide 1">  
            </div>
            </div>
          </ng-template>
          <ng-template ngbSlide id="two">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/waterfall.png"  alt="Slide 2">
            </div>
            </div>
          </ng-template>
          <ng-template ngbSlide id="three">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/agiles.png" alt="Slide 3">
            </div>
          </div>
          </ng-template>
        </ngb-carousel></td>
        <td>
          <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/singleton.png"  alt="Slide 1">  
            </div>
            </div>
          </ng-template>
          <ng-template ngbSlide id="two">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/composite.png"  alt="Slide 2">
            </div>
            </div>
          </ng-template>
          <ng-template ngbSlide id="three">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/iterator-es.png" alt="Slide 3">
            </div>
          </div>
          </ng-template>
        </ngb-carousel></td>
        <td>
          <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/MVC.png" alt="Slide 1">  
            </div>
            </div>
          </ng-template>
          <ng-template ngbSlide id="two">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imgs/MVP.png"  alt="Slide 2">
            </div>
            </div>
          </ng-template>
        </ngb-carousel></td>
        </tr>
        
    </table>
    </div>