<mdb-carousel [controls]="true"  [dark]="true">
    <mdb-carousel-item  [interval]="6000">
      <img src="../../../assets/imgs/PRUEBA.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item  [interval]="6000">
      <img src="../../../assets/imgs/ENSAYO.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item  [interval]="6000">
      <img src="../../../assets/imgs/ERROR.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
     </div>
    </mdb-carousel-item>
    <mdb-carousel-item  [interval]="6000">
      <img src="../../../assets/imgs/ASIMILACION.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
     </div>
    </mdb-carousel-item>
    <mdb-carousel-item  [interval]="6000">
      <img src="../../../assets/imgs/APRENDIZAJE.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
     </div>
    </mdb-carousel-item>
  </mdb-carousel>