<app-navbar></app-navbar>
<h1 align="center">
    Sobre mi
</h1>
<div class="container-fluid">
<app-minicarrusel3></app-minicarrusel3>
</div>
    <h1 align="center">Formacion</h1>
    <h1 align="center">Experiencia</h1>
    <h1 align="center">
        Tecnologias
    </h1>
<div class="container-fluid">
<app-minicarrusel></app-minicarrusel>
</div>
<div class="container-fluid">
        <app-minicarrusel2></app-minicarrusel2>
</div>
<h1 align="center">
    Proyectos
</h1>
<div class="container-fluid">
<app-minicarrusel4></app-minicarrusel4>
</div>
<app-footer></app-footer>