<div class="table-responsive">
    <table class="table">
      <tr>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Mozo</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Full Stack JR.</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Backend C#</h1>
        </blockquote>
      </figure>
      </td>
      <td>
        <figure class="text-center">
        <blockquote class="blockquote">
        <h1>Universidad Angular</h1>
        </blockquote>
      </figure>
      </td>
    </tr>
      <tr>
        <td>
          <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="contenedor">
            <div class="picsum-img-wrapper">
              <a href="https://www.aimdigital.com.ar"><img src="../../../assets/imgs/Mozo.png"  alt="Slide 1">  
              </a></div>
            </div>
          </ng-template>
        </ngb-carousel></td>
        <td>
            <ngb-carousel #ngcarousel>
                <ng-template ngbSlide id="one">
                  <div class="contenedor">
                  <div class="picsum-img-wrapper">
                    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../../../assets/imgs/Arg.png"  alt="Slide 1">  
                    </a></div>
                  </div>
                </ng-template>
              </ngb-carousel></td>
        <td>
            <ngb-carousel #ngcarousel>
                <ng-template ngbSlide id="one">
                  <div class="contenedor">
                  <div class="picsum-img-wrapper">
                    <a href="https://www.aticma.org.ar"><img src="../../../assets/imgs/Aticma.png"  alt="Slide 1">  
                    </a></div>
                  </div>
                </ng-template>
              </ngb-carousel></td>
              <td>
                <ngb-carousel #ngcarousel>
                    <ng-template ngbSlide id="one">
                      <div class="contenedor">
                      <div class="picsum-img-wrapper">
                        <a href="https://www.udemy.com"><img src="../../../assets/imgs/Udemy.png"  alt="Slide 1">  
                        </a></div>
                      </div>
                    </ng-template>
                  </ngb-carousel></td>
                  
        </tr>
    </table>
  </div>