.container-fluid {
    background-color: #000000;
    color: white;
    height: 100vh;
}
img{
    width: 100px;
    height:100px;
}

.text-center{
    background-color: #000000;
    color: white;
    height: 100vh;
}