<div class="table-responsive">
  <table class="table">
    <tr>
    <td>
      <figure class="text-center">
      <blockquote class="blockquote">
      <h1>E.E.S.T.N°5</h1>
      </blockquote>
    </figure>
    </td>
    <td>
      <figure class="text-center">
      <blockquote class="blockquote">
      <h1>CEM English</h1>
      </blockquote>
    </figure>
    </td>
    <td>
      <figure class="text-center">
      <blockquote class="blockquote">
      <h1>UTN</h1>
      </blockquote>
    </figure>
    </td>
  </tr>
    <tr>
      <td>
        <ngb-carousel #ngcarousel>
        <ng-template ngbSlide id="one">
          <div class="contenedor">
          <div class="picsum-img-wrapper">
            <img src="../../../assets/imgs/e.e.s.t.n5.png"  alt="Slide 1">  
            </div>
          </div>
        </ng-template>
      </ngb-carousel></td>
      <td>
          <ngb-carousel #ngcarousel>
              <ng-template ngbSlide id="one">
                <div class="contenedor">
                <div class="picsum-img-wrapper">
                  <a href="https://cemenglish.com"><img src="../../../assets/imgs/Cem.png"  alt="Slide 1">  
                  </a></div>
                </div>
              </ng-template>
            </ngb-carousel></td>
      <td>
          <ngb-carousel #ngcarousel>
              <ng-template ngbSlide id="one">
                <div class="contenedor">
                <div class="picsum-img-wrapper">
                  <a href="https://mdp.utn.edu.ar"><img src="../../../assets/imgs/UTN.png"  alt="Slide 1">  
                  </a></div>
                </div>
              </ng-template>
            </ngb-carousel></td>
      </tr>
  </table>
</div>